<h2>Listing Counter values</h2>

<table class="table">
  <thead>
    <tr>
      <th>Value</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for counter_value <- @counter_values do %>
    <tr>
      <td><%= counter_value.value %></td>
      <td></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Counter value", to: counter_value_path(@conn, :new, @counter.id) %></span>
