<h2>Show Counter value</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @counter_value.value %>
  </li>

</ul>

<span><%= link "Edit", to: counter_value_path(@conn, :edit, 1, @counter_value) %></span>
<span><%= link "Back", to: counter_value_path(@conn, :index, 1) %></span>
